@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    font-family: Quicksand;
}

.banner {
    min-height: 65vh;
}

.bg-mat {
    background-color: #ff8274;
}
.color-mat,
.slick-prev:before,
.slick-next:before {
    color: #ff8274;
}
